.section {
  padding: 36px 18px;
  text-align: center;
  background: #f9f9f9;
}

.heading {
  font-size: 25.2px;
  font-weight: 700;
  margin-bottom: 36px;
}

.heading span {
  color: var(--color-primary);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.card {
  background: #fff;
  padding: 22.5px;
  border-radius: 14.4px;
  box-shadow: 0 3.6px 13.5px rgba(0,0,0,0.2);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-4.5px);
  box-shadow: 0 5.4px 18px rgba(0,0,0,0.32);
}

.iconWrapper {
  margin-bottom: 10.8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card h3 {
  font-size: 16.2px;
  margin-top: 9px !important;
  font-weight: 600;
  color: #0b2c4d;
  margin: 4.5px auto;
}

.highlight {
  background: var(--color-primary);
  color: #fff;
}

.highlight h3 {
  color: #fff;
}

.green h3 {
  color: #2ecc71;
}

/* .highlight .iconWrapper img {
  width: 70px;
  height: 70px;
} */

@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
