.topbar {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  display: none;
}

@media (min-width: 768px) {
  .topbar {
    display: block;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--spacing-sm) var(--spacing-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  gap: var(--spacing-lg);
  align-items: center;
}

.right {
  display: flex;
  gap: 12px;
  /* gap: var(--spacing-sm); */
  align-items: center;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.infoItem a {
  margin-top: -1px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.infoItem a:hover {
  color: var(--color-secondary);
}

.icon {
  font-size: 12px;
}

.social {
  /* color: var(--color-white); */
  background: var(--color-white);
  padding: 6px 7.5px 3px;
  font-size: 16px;
  border-radius: 50%;
  transition: color 0.3s ease;
}

/* .social:hover {
  color: var(--color-hover-green);
} */

.facebook {
  color: #3b5998;
}

.facebook:hover {
  color: var(--color-white);
  background: #3b5998;
}

.instagram {
  color: #e4405f;
}

.instagram:hover {
  color: var(--color-white);
  background: linear-gradient(
    45deg,
    #FFD600,
    #FF7A00,
    #FF0069,
    #D300C5,
    #7638FA
  );
}

.twitter {
  color: #444;
}

.twitter:hover {
  color: var(--color-white);
  background: #444;
}

.linkedin {
  color: #0077b5;
}

.linkedin:hover {
  color: var(--color-white);
  background: #0077b5;
}

.youtube {
  color: #ff0000;
}

.youtube:hover {
  color: var(--color-white);
  background: #ff0000;
}