.calculatorSection {
  padding: 36px 18px;
  background: #fff;
  text-align: center;
}

.heading {
  font-size: 28.8px;
  color: var(--color-primary);
  margin-bottom: 36px;
  position: relative;
}

.heading::after {
  content: "";
  display: block;
  width: 72px;
  height: 2px;
  background-color: var(--color-primary);
  margin: 7.2px auto 0;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 120px;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
} */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 90px;
  max-width: 900px;
  margin: 0 auto;
}

.left, .right {
  flex: 1 1 360px;
  max-width: 450px;
}

.inputGroup {
  margin-bottom: 21.6px;
  text-align: left;
}

.inputGroup label {
  display: block;
  margin-bottom: 7.2px;
  font-weight: 500;
  font-size: 16.2px;
  color: var(--color-secondary);
}

.inputGroup input[type="range"] {
  width: 100%;
  margin: 5.4px 0 9px;
  appearance: none;
  height: 5.4px;
  background: #ddd;
  border-radius: 3.6px;
}

.inputGroup input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 14.4px;
  height: 14.4px;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}

.inputGroup input[type="number"] {
  width: 100%;
  padding: 9px;
  font-size: 14.4px;
  border-radius: 3.6px;
  border: 1px solid #ccc;
}

/* .values {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-size: 18px;
}

.values div {
  flex: 1;
  text-align: center;
} */

.values {
  display: flex;
  justify-content: space-between;
  gap: 14.4px;
  margin-top: 27px;
}

.valueBox {
  flex: 1;
  /* max-height: 80px; */
  background: #f9fbff;
  padding: 13.5px;
  border-radius: 9px;
  text-align: center;
  box-shadow: 0 3.6px 5.4px rgba(0, 0, 0, 0.288);
  transition: transform 0.2s ease;
  font-size: 14.4px;
  font-weight: 600;
  color: var(--color-primary);
}

.valueBox strong {
  display: block;
  font-size: 18px;
  color: #000;
}

.valueBox:hover {
  transform: translateY(-2px);
  background: #e0f7fa;
}

.moreBtnWrapper {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.moreBtn {
  padding: 10.8px 21.6px;
  background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
  /* border: 1px solid var(--color-primary); */
  border-radius: 5.4px;
  font-size: 14.4px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.moreBtn:hover {
  scale: 1.03;
  background: linear-gradient(135deg, var(--color-secondary), var(--color-primary));
}

.right {
  flex: 1;
  min-width: 0;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1024px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 54px;
    justify-content: center;
    align-items: center;
  }

  .left, .right {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .values {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14.4px;
  }

  .values div {
    flex: 1 1 30%;
    min-width: 108px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 36px;
    padding: 0 18px;
  }

  .left, .right {
    max-width: 100%;
    flex: 1 1 100%;
  }

  .values div {
    width: 100%;
    text-align: center;
  }

  .valueBox strong {
    font-size: 14.4px;
  }

  .inputGroup input[type="number"] {
    font-size: 13.5px;
  }

  .right {
    display: none;
  }

  .moreBtn {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 21.6px;
  }

  .inputGroup label {
    font-size: 14.4px;
  }

  .inputGroup input[type="number"],
  .inputGroup input[type="range"] {
    font-size: 12.6px;
  }

  .moreBtn {
    font-size: 13.5px;
  }
}
