.allCalculators {
  padding: 18px 72px 27px;
  text-align: center;
  background: #f9fbff;
}

.header {
  max-width: 630px;
  margin: 0 auto 36px;
}

.header h2 {
  font-size: 1.98rem;
  color: var(--color-primary);
  margin-bottom: 9px;
}

.header p {
  font-size: 1.1rem;
  color: var(--color-secondary);
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));
  gap: 27px;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 14.4px;
  padding: 22.5px 18px 13.5px;
  box-shadow: 0 3.6px 13.5px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 9px 22.5px rgba(0,0,0,0.15);
  z-index: 2;
}

.link {
    text-decoration: none;
}

.cardContent {
  position: relative;
  z-index: 2;
}

.cornerImage {
  position: absolute;
  top: -27px;
  Left: -18px;
  width: 112.5px;
  height: 112.5px;
  opacity: 0.8;
}

.cornerImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon {
  margin: 0 auto 13.5px;
  width: 54px;
  height: 54px;
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card h3 {
  font-size: 1.25rem;
  color: var(--color-primary);
  margin-bottom: 7.2px;
  transition: color 0.3s ease-in-out;
}

.card:hover h3 {
  color: var(--color-secondary);
}

.card p {
  font-size: 0.95rem;
  color: #666;
  line-height: 1.4;
}