.section {
  padding: 36px 18px;
  background-color: #f5f8fa;
}

.headingWrapper {
  text-align: center;
  margin-bottom: 43.2px;
}

.heading {
  font-size: 37.8px;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 10.8px;
}

.subheading {
  font-size: 16.2px;
  font-weight: 500;
  color: var(--color-secondary);
  max-width: 540px;
  margin: 0 auto;
  line-height: 1.6;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 28.8px;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 21.6px;
  min-width: 252px;
}

.centerColumn {
  flex: 1;
  position: relative;
  aspect-ratio: 1/1;
  max-width: 360px;
  min-width: 270px;
  width: 100%;
}

.centerImage {
  object-fit: contain;
  margin-top: 54px;
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14.4px; 
  padding: 18px;
  background-color: #fff;
  border-radius: 10.8px;
  box-shadow: 0 3.6px 10.8px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5.4px);
  box-shadow: 0 5.4px 18px rgba(0, 0, 0, 0.199);
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  background: url("/assets/images/icons/card-corner-top-left.png") no-repeat top left;
  background-size: cover;
  z-index: 0;
  opacity: 0.8;
}

.card > * {
  position: relative;
  z-index: 1;
}

.card:hover .title{
  color: var(--color-secondary);
}

.iconWrapper {
  flex-shrink: 0;
  width: 43.2px;
  height: 43.2px;
  display: flex;
  margin-top: 9px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 19.8px;
  font-weight: 600;
  margin-bottom: 5.4px;
  color: var(--color-primary);
  transition: color 0.3s ease;
}

.description {
  font-size: 13.5px;
  color: #444;
  line-height: 1.5;
}

.additionalRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 21.6px;
  margin-top: 27px;
  max-width: 1080px;
  margin-inline: auto;
}

.additionalRow .card {
  width: 270px;
  flex-direction: row;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .centerColumn {
    max-width: 100%;
    aspect-ratio: auto;
    height: auto;
  }

  .column {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    max-width: 450px;
  }

  .additionalRow .card {
    width: 100%;
    max-width: 450px;
  }
}
