.section {
  padding: 60px 20px;
  background-color: #f5f8fa;
}

.headingWrapper {
  text-align: center;
  margin-bottom: 48px;
}

.heading {
  font-size: 42px;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 12px;
}

.subheading {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-secondary);
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 280px;
}

.centerColumn {
  flex: 1;
  position: relative;
  aspect-ratio: 1/1;
  max-width: 400px;
  min-width: 300px;
  width: 100%;
}

.centerImage {
  object-fit: contain;
  margin-top: 60px;
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px; 
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.199);
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: url("/assets/images/icons/card-corner-top-left.png") no-repeat top left;
  background-size: cover;
  z-index: 0;
  opacity: 0.8;
}

.card > * {
  position: relative;
  z-index: 1;
}

.card:hover .title{
  color: var(--color-secondary);
}

.iconWrapper {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 6px;
  color: var(--color-primary);
  transition: color 0.3s ease;
}

.description {
  font-size: 15px;
  color: #444;
  line-height: 1.5;
}

.additionalRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 30px;
  max-width: 1200px;
  margin-inline: auto;
}

.additionalRow .card {
  width: 300px;
  flex-direction: row;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .centerColumn {
    max-width: 100%;
    aspect-ratio: auto;
    height: auto;
  }

  .column {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    max-width: 500px;
  }

  .additionalRow .card {
    width: 100%;
    max-width: 500px;
  }
}
