.faqContainer {
  max-width: 990px;
  margin: 0 auto;
  padding: 18px 18px;
}

.hero {
  text-align: center;
  margin-bottom: 36px;
}

.hero h1 {
  font-size: 2.16rem;
  color: #023047;
  margin-bottom: 9px;
}

.hero p {
  color: #555;
  font-size: 1rem;
}

.searchWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
}

.searchInput {
  width: 100%;
  max-width: 450px;
  padding: 10.8px 16.2px;
  border-radius: 27px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.searchInput:focus {
  border-color: #0077b6;
  box-shadow: 0 0 4.5px rgba(0, 119, 182, 0.3);
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10.8px;
  margin-bottom: 36px;
}

.categoryBtn {
  padding: 9px 18px;
  border: 1px solid var(--color-primary);
  border-radius: 18px;
  background: transparent;
  color: var(--color-primary);
  font-weight: 500;
  font-size: 14.4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.categoryBtn:hover,
.categoryBtn.active {
  background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
  color: #fff;
}

.accordion {
  background: #fff;
}

.faqItem {
  border-bottom: 1px solid #eaeaea;
  padding: 13.5px 0;
}

.faqItem:last-child {
  border-bottom: none;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 15.3px;
  font-weight: 600;
  color: #222;
}

.icon {
  font-size: 1.5rem;
  color: var(--color-secondary);
  transition: transform 0.3s ease;
}

.answer {
  overflow: hidden;
  color: #555;
  line-height: 1.6;
  /* margin-top: 10px; */
}

.noResult {
  text-align: center;
  color: #888;
  margin: 27px 0;
}

.cta {
  text-align: center;
  margin-top: 36px;
  background: #f5faff;
  padding: 18px 36px 27px;
  border-radius: 10.8px;
}

.cta h3 {
  font-size: 21.6px;
  margin-bottom: 9px;
  color: #023047;
}

.ctaBtn {
  display: inline-block;
  margin-top: 9px;
  background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
  color: #fff;
  padding: 9px 21.6px;
  border-radius: 22.5px;
  text-decoration: none;
  transition: 0.3s;
}

.ctaBtn:hover {
  transform: translate(0, -2.7px);
  background: linear-gradient(135deg, var(--color-secondary), var(--color-primary));
  box-shadow: 0 7.2px 13.5px rgba(0, 0, 0, 0.212);
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 1.8rem;
  }

  .searchInput {
    max-width: 90%;
  }

  .categories {
    gap: 7.2px;
  }
}
