.section {
  padding: 36px 18px;
  background: linear-gradient(135deg, #f9fbff, #eef4ff);
}

.container {
  max-width: 990px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 28.8px;
  font-weight: 700;
  margin-bottom: 9px;
  color: var(--color-primary);
}

.title::after {
  content: "";
  display: block;
  width: 135px;
  height: 2px;
  background-color: var(--color-primary);
  margin: 7.2px auto 0;
}

.subTitle {
  font-size: 16.2px;
  color: var(--color-secondary);
  margin-bottom: 45px;
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.card {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 14.4px;
  padding: 18px 22.5px;
  box-shadow: 0 7.2px 18px rgba(0,0,0,0.08);
  max-width: 80%;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-4.5px);
}

.left {
  align-self: flex-start;
}

.right {
  align-self: flex-end;
}

.iconWrapper {
  flex-shrink: 0;
  margin-right: 18px;
}

.icon {
  border-radius: 50%;
}

.content h3 {
  font-size: 18px;
  color: var(--color-secondary);
  margin-bottom: 5.4px;
}

.content p {
  font-size: 14.4px;
  color: #444;
  margin-bottom: 9px;
}

.highlightBox {
  /* background: rgba(0, 51, 102, 0.089); */
  background: #dbe7ff;
  color: var(--color-primary);
  padding: 7.2px 10.8px;
  border-radius: 7.2px;
  font-size: 12.6px;
  display: inline-block;
  font-weight: 600;
}
