.section {
  padding: 36px 18px;
  background: #ffffff;
  text-align: center;
}

.heading {
  font-size: 1.98rem;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 13.5px;
}

.subText {
  font-size: 1.05rem;
  color: #475569;
  margin-bottom: 45px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 27px;
  max-width: 1080px;
  margin: 0 auto;
}

.card {
  background: #f9fafb;
  border-radius: 14.4px;
  box-shadow: 0 5.4px 16.2px rgba(0, 0, 0, 0.08);
  padding: 18px 13.5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-7.2px);
  box-shadow: 0 9px 22.5px rgba(0, 0, 0, 0.12);
}

.imageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.teamImage {
  border-radius: 10.8px;
  object-fit: cover;
  width: 100%;
  height: auto;
  max-width: 198px;
  filter: grayscale(40%);
  transition: filter 0.4s ease, transform 0.4s ease;
}

.card:hover .teamImage {
  filter: grayscale(0%);
  transform: scale(1.05);
}

.name {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 7.2px;
}

.designation {
  font-size: 1rem;
  /* color: #64748b; */
  color: var(--color-secondary);
  margin-top: 9px;
}

/* Responsiveness */
@media (max-width: 1024px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cardsContainer {
    grid-template-columns: 1fr;
  }
}
